* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.header__heading {
  margin-top: 8px;
  margin-left: 24px;
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
}

.nav {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.sheets-container {
  margin-top: 80px;
  margin-left: 30px;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sheet {
  width: 228px;
  height: 246px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.sheet__list {
  list-style: none;
}

.sheet__size-switcher_active {
  background-color: lightgrey;
}

.sheet__tool_disabled {
  opacity: 0.2;
  cursor: default;
}

.color,
.tool,
.size-switcher {
  padding-left: 16px;
  margin-bottom: 8px;
  width: 100%;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.tool__icon,
.size-switcher__icon {
  margin-right: 36px;
}

.tool__name,
.size-switcher__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.color__icon {
  margin-right: 12px;
  border-radius: 50%;
  border: none;
  outline: none;
}

.color__icon::-webkit-color-swatch-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 22px;
  height: 20px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.color__icon::-webkit-color-swatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #000000;
}

.color__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.divider {
  margin-bottom: 8px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.canvas-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.canvas {
  width: 512px;
  height: 512px;
  margin-top: 74px;
  background-color: lightgrey;
}

.size-switchers-container {
  padding-top: 80px;
  padding-right: 100px;
}

.image {
  display: none;
}
/*# sourceMappingURL=style.css.map */