* {
  margin: 0;
  padding: 0;
}

.header {
  position: relative; // for menu
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

  &__heading {
    margin-top: 8px;
    margin-left: 24px;
    font-family: "Roboto Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.87);
  }
}

.nav {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu {
  display: flex;
  width: 44px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;

  &__login {
    height: 30px;
    padding: 0 20px;
    margin-right: 100px;
    font-family: "Roboto";
    border-radius: 4px;
    background-color: lightblue;
    outline: none;
    cursor: pointer;
  }
}

.sheets-container {
  margin-top: 80px;
  margin-left: 30px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sheet {
  width: 228px;
  height: 246px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);

  &__list {
    list-style: none;
  }

  &__size-switcher {
    &_active {
      background-color: lightgrey;
    }
  }

  &__tool {
    &_disabled {
      opacity: 0.2;
      cursor: default;
    }

    &_selected {
      background-color: lightgrey;
    }
  }
}

.color,
.tool,
.size-switcher {
  padding-left: 16px;
  margin-bottom: 8px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.tool,
.size-switcher {
  &__icon {
    margin-right: 36px;
  }

  &__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
  }
}

.color {
  cursor: default;

  &__icon {
    margin-right: 12px;
    border-radius: 50%;
    border: none;
    outline: none;

    &::-webkit-color-swatch-wrapper {
      box-sizing: border-box;
      width: 22px;
      height: 20px;
      padding: 0;
      border-radius: 50%;
      border: none;
    }

    &::-webkit-color-swatch {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #000000;
      cursor: pointer;
    }
  }

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.541327);
  }
}

.divider {
  margin-bottom: 8px;
  height: 1px;
  width: 100%;
  background: rgba(0, 0, 0, 0.12);
}

.main {
  display: flex;
  justify-content: space-between;
}

.canvas-container {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.canvas {
  width: 512px;
  height: 512px;
  background-color: lightgrey;
}

.size-switchers-container {
  padding-top: 80px;
  padding-right: 100px;
}

.form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 74px;
  margin-bottom: 6px;

  &__bw {
    margin-left: auto;
  }

  &__load,
  &__bw {
    height: 26px;
    width: 70px;
    background-color: greenyellow;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }

  &__load {
    margin-right: 10px;
  }
}
